USE [master]
GO
/****** Object:  Database [CinemaTicketBookingSystem]    Script Date: 6/29/2024 1:53:24 PM ******/
CREATE DATABASE [CinemaTicketBookingSystem] ON  PRIMARY 
( NAME = N'CinemaTicketBookingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaTicketBookingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaTicketBookingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaTicketBookingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaTicketBookingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaTicketBookingSystem]
GO
/****** Object:  Table [dbo].[Tbl_Booking]    Script Date: 6/29/2024 1:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingCode] [varchar](50) NOT NULL,
	[ShowTime] [datetime] NOT NULL,
	[SeatMovieCode] [varchar](50) NOT NULL,
	[CustomerCode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customer]    Script Date: 6/29/2024 1:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](50) NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Customer1] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Movie]    Script Date: 6/29/2024 1:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[MovieCode] [varchar](50) NOT NULL,
	[MovieName] [varchar](5000) NOT NULL,
	[Description] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_Tbl_Movie7] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SeatMovie]    Script Date: 6/29/2024 1:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SeatMovie](
	[SeatMovieId] [int] IDENTITY(1,1) NOT NULL,
	[SeatMovieCode] [varchar](50) NOT NULL,
	[MovieCode] [varchar](50) NOT NULL,
	[SeatCode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_SeatMoive] PRIMARY KEY CLUSTERED 
(
	[SeatMovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ShowTime]    Script Date: 6/29/2024 1:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ShowTime](
	[ShowtimeId] [int] IDENTITY(1,1) NOT NULL,
	[ShowtimeCode] [varchar](50) NOT NULL,
	[MovieCode] [varchar](50) NOT NULL,
	[MovieTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Tbl_ShowTime] PRIMARY KEY CLUSTERED 
(
	[ShowtimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Movie] ON 

INSERT [dbo].[Tbl_Movie] ([MovieId], [MovieCode], [MovieName], [Description]) VALUES (1, N'M001', N'The Shawshank Redemption', N'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.')
INSERT [dbo].[Tbl_Movie] ([MovieId], [MovieCode], [MovieName], [Description]) VALUES (2, N'M002', N'The Godfather', N'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.')
INSERT [dbo].[Tbl_Movie] ([MovieId], [MovieCode], [MovieName], [Description]) VALUES (3, N'M003', N'The Dark Knight', N'When the menace known as the Joker emerges from his mysterious past, he wreaks havoc and chaos on the people of Gotham.')
SET IDENTITY_INSERT [dbo].[Tbl_Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_SeatMovie] ON 

INSERT [dbo].[Tbl_SeatMovie] ([SeatMovieId], [SeatMovieCode], [MovieCode], [SeatCode]) VALUES (1, N'SM001', N'M001', N'S001')
INSERT [dbo].[Tbl_SeatMovie] ([SeatMovieId], [SeatMovieCode], [MovieCode], [SeatCode]) VALUES (2, N'SM002', N'M001', N'S002')
INSERT [dbo].[Tbl_SeatMovie] ([SeatMovieId], [SeatMovieCode], [MovieCode], [SeatCode]) VALUES (3, N'SM003', N'M001', N'S003')
SET IDENTITY_INSERT [dbo].[Tbl_SeatMovie] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_ShowTime] ON 

INSERT [dbo].[Tbl_ShowTime] ([ShowtimeId], [ShowtimeCode], [MovieCode], [MovieTime]) VALUES (1, N'ST001', N'M001', CAST(N'2024-06-29T10:00:00.000' AS DateTime))
INSERT [dbo].[Tbl_ShowTime] ([ShowtimeId], [ShowtimeCode], [MovieCode], [MovieTime]) VALUES (2, N'ST002', N'M002', CAST(N'2024-06-29T12:00:00.000' AS DateTime))
INSERT [dbo].[Tbl_ShowTime] ([ShowtimeId], [ShowtimeCode], [MovieCode], [MovieTime]) VALUES (3, N'ST003', N'M003', CAST(N'2024-06-29T14:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_ShowTime] OFF
GO
USE [master]
GO
